.angular-google-map-container {
  height: 500px;
  width: 600px;
  border: 1px solid black;
 }

form {
 margin-left: 30px;
}

h1 {
  letter-spacing: 0.3em;
}

h2 small {
 display: inline;
 padding-bottom: 0;
 vertical-align: bottom;
 margin-top: 15px;
 font-size: 0.4em
}
