<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <ui-gmap-google-map center='rideIndexCtrl.map.center' zoom='rideIndexCtrl.map.zoom'>
          <ui-gmap-polyline path='rideIndexCtrl.d_route'
                            stroke='{color: "blue", opacity: 0.75, }'
                            clickable='false'
                            draggable='false'
                            editable='false'
                            geodesic='false'
                            visible='true'
                            fit='true'
                            static='true'>
            </ui-gmap-polyline>
        </ui-gmap-google-map>
    </div>
    <div class="col-md-3">
      <form ng-submit="rideIndexCtrl.test()">
        <input name="start" placeholder="Start Point" ng-model="rideIndexCtrl.new_address.start"/>
        <input name="end" placeholder="End Point" ng-model="rideIndexCtrl.new_address.end"/>
        <input type="submit" value="Submit"/>
      </form>
    </div>
  </div>

  <div class="row">
    <center>
      <h2>
        {{rideIndexCtrl.data.data.prices[0].estimate}}
      </h2>
    </center>
    <br />
    <small>
      {{rideIndexCtrl.d_route}}
    </small>
  </div>
</div>
